<% content_for(:stylesheet, "help.css") %>

<h2>Help</h2>

<div id="container">

  <ol id="faq_list" type="1">
    <li><a href="#1">How do I tag radio?</a></li>
    <li><a href="#2">Why can't I see a tag button on my radio?</a></li>
    <li><a href="#3">Why does nothing happen when I press tag on my radio?</a></li>
    <li><a href="#4">Why aren't images showing on my radio?</a></li>
    <li><a href="#5">How do I connect my radio to this website?</a></li>
    <li><a href="#6">I've lost or forgotten my PIN</a></li>
    <li><a href="#7">I've lost or forgotten my radio code</a></li>
    <li><a href="#8">Where are my tags?</a></li>
    <li><a href="#9">How do I find my tags on the radio?</a></li>
  </ol>

  <div  class="answer">
    <a name="1"><h3>How do I tag radio?</h3></a>
    <p>Just press the tag button on your radio's screen. It looks like the symbol at the top left of this page.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="2"><h3>Why can't I see a tag button on my radio?</h3></a>
    <p>RadioTAG works on the following BBC radio stations: Radio 1,
      1Xtra, Radio 2, Radio 3, Radio 4, Radio 4 Extra, 5 Live, 5 Live
      Extra, 6Music, Asian Network and World Service.</p>

    <p>If the tag button does not show for any of the stations above,
      check your radio is connected to the internet and receiving either
      FM or DAB radio. If it is, and you can still see no tag button,
      contact us by using the email address at the bottom of his
      screen.</p>

    <p>Unfortunately RadioTAG does not yet work on all regional and
      local stations, but if you'd like to see it there, please tell us
      and why.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="3"><h3>Why does nothing happen when I press tag on my radio?</h3></a>
    <p> There are a few things to check first: has your radio got a
      clear FM or DAB signal? Does your radio have an internet
      connection?  If yes and nothing still happens, please contact us
      by using the email address at the bottom of his screen.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="4"><h3>Why aren't images showing on my radio?</h3></a>
    <p>Try switching off your radio and switching it back on again. If
      you are still having problems, please contact us by using the
      email address at the bottom of his screen.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="5"><h3>How do I connect my radio to this website?</h3></a>
    <p>You need to register your radio with the RadioTAG online
      account details you have been given. Click "Register radio"
      above.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="6"><h3>I've lost or forgotten my PIN</h3></a>
    <p>Log into the RadioTAG website and click on "Register
      radio". Re-enter the code you received when you pressed tag on the
      radio and you will receive another PIN.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="7"><h3>I've lost or forgotten my radio code</h3></a>
    <p>Press the tag button on your radio again and you will receive
      another code. Click on "Register Radio" above to enter your code
      and receive your PIN.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="8"><h3>Where are my tags?</h3></a>
    <p>Instructions for how to find your tags on the radio are
      below. If you have registered your radio, you can also see your tags
      by clicking "Your tags" above. If you have not registered your radio
      and would like to view your tags on this website, click "Register
      radio" above.</p>
    <a href="#top">Back to top</a>
  </div>

  <div  class="answer">
    <a name="9"><h3>How do I find my tags on the radio?</h3></a>
    <p> Press DAB or FM at the bottom of the radio screen, depending
      on which you are listening to. A list will appear with RadioTAG at
      the top. Press it, then choose BBC in the next screen. A list of
      all the tags you've made so far should appear, in the order of
      when you made them. Press any one of them and more information
      about that programme should appear. </p>
    <a href="#top">Back to top</a>
  </div>
</div>
