<h2>Register your radio</h2>

<div id="register_container">
  <ul id="register_steps">
    <li class="completed_step" id="step1">
      <%= erb :step1 %>
    </li>

    <li class="active_step" id="step2">
      <%= erb :step2 %>
    </li>

    <li class="greyed_step" id="step3">
      <%= erb :step3 %>
    </li>

    <li class="greyed_step" id="done">
      <%= erb :step4 %>
    </li>
  </ul>
</div>



