<h3>Step 1</h3>
<h4>Get your radio code</h4>
<p class="hint">Press the TAG button on your radio and follow the on-screen instructions</p>

<div class="vis_box">
  <img src="/images/step1.png" width="157" height="90" alt="Step1">
</div>

<!-- <p class="hint">If you have your code click the 'Next' button</p> -->
<img src="/images/arrow.png" width="45" height="47" alt="Arrow">

<a id="btn_s1" href="/device/edit">Next</a>
