<h3>Step 3</h3>
<h4>Enter your PIN</h4>
<p class="hint">Now enter the PIN displayed below into your radio.</p>

<div class="vis_box">
  <div id="your_PIN"><%= @pin %></div>
</div>

<a id="btn_s3" href="/device?pin_error=true">Test</a>
