<h3>Step 2</h3>
<h4>Enter your radio code</h4>
<p class="hint">Type the 8-character code you receive into the box below.</p>

<div class="vis_box">
  <!-- action="/devices" -->
  <form action="/devices" method="post">
    <input type="text" name="registration_key" />
    <span class="hint">It looks like "abc123efg"</span>
    <input id="btn_s2" type="submit" value="Check" />
  </form>
</div>
